<form method="post" action="{{ path('app_customer_delete', {'id': user.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression du client ?');">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-secondary text-white">Supprimer</button>
</form>
